/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding {
  padding: 0 10%;
}

a {
  text-decoration: none;
}

/* column rules */

.line:after {
  content: "";
  display: table;
  clear: both;
}

.column20 {
  float: left;
  width: 20%;
}

.column25 {
  float: left;
  width: 25%;
  /* debug */
  height: 100px;
}

.column30 {
  float: left;
  width: 30%;
  /* debug */
  /* height: 100px;
  background-color: orange; */

}

#middle {
  margin: 0 5%;
}

.column50 {
  float: left;
  width: 50%;
  /* debug */
  height: 70px;
  /* background-color: yellow; */
  /* border: 1px solid black; */
}

.column70 {
  float: left;
  width: 70%;
  height: 80px;
  /* debug */
  /* background-color: orange; */
  /* border: 1px solid black; */
}

.column80 {
  float: left;
  width: 80%;
}

.column100 {
  float: left;
  width: 100%;
  /* debug */
  /* height: 100px;
  background-color: yellow; */
}

/* Header */

header {
  min-height: 500px;
  /* debug */
  /* background-color: pink; */
}

/*sezione 1 */
.nav-action {
  background-color: #f5f8fa;
  border-bottom:1px solid #cbd6e2;
}

/* Navbar left */
.nav-left ul li {
  display: inline-block;
}

.language-logo {
  width: 21px;
  margin-right: 4px;
}

.language {
  line-height: 80px;
  font-size: 20px;
}

.format {
  color: black;
}

 .fas{
  font-size: 16px;
  margin-left: 5px;
}

#bar {
  height: 17px;
  margin-left: 15px;
  margin-top: 23px;
  border-right: 1px solid black;
}

#contact {
  margin-left: 10px;
  line-height: 63px;
  font-size: 20px;
}

/* Navbar right */
.nav-right {
  text-align: right;
}

.nav-right ul li {
  display: inline-block;
}

.fa-search {
  color: #2ef0e9;
}

#search {
  line-height: 70px;
}

#login {
  font-size: 15px;
  margin: 0 20px;
}

.main-button {
  font-size: 15px;
  background-color: #ff7a59;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.button {
  border: 2px solid orange;
  padding: 6px 7px;
  border-radius: 5px;
  color: orange;
}


/* sezione 2 */

.logo-nav {
  height: 70px;
  background-color: white;
}

#logo {
  margin-top: 23px;
  margin-left: 5px;
}

/* Navbar sezione 2 */

.second ul li a {
  color: black;
  margin-right: 15px;
  font-size: 20px;
}

#about {
  margin-right: 0;
}

/* Sezione 3 Header jumbotron */
.jumbotron {
  height: 736px;
  background-image: url(img/jumbotron.png);
  background-size: cover;
}

h1 {
  padding: 50px 0;
  font-size: 49px;
  width: 40%;
}

.jumbotron p {
  width: 40%;
  font-size: 15px;
  margin-bottom: 50px;
  line-height: 20px;
}

.big {
  padding: 15px;
}

.jumbotron span {
  display: block;
  margin-top: 50px;
  width: 40%;
  font-size: 8px;
}

/* Main */

main {
  /* debug */
  /* min-height: 400px;
  background-color: blue; */
}

/* sezione 1 */
.powerful {
  background-color: #f5f8fa;
}

.powerful img {
  margin: 30px 0 0px 427px;
  height: 270px;
}

.powerful h2 {
text-align: center;
margin-bottom: 20px;
font-size: 37px;
}

.powerful p {
  text-align: center;
  padding: 0 230px;
  margin-bottom: 20px;
  line-height: 20px;
}



/* sezione 2 */
.popolar {
  margin-left: 30px;
}
/* column left */
.crm {
  background-color: #f5f8fa;
}

.free {
  height: 300px;
  background-color: white;
  box-shadow: 0 0 11px #eaf0f6;
}

.crm img {
  height: 100px;
  margin: 65px 0 35px 90px;
}

.crm a {
  margin-left: 100px;
}

.learn {
  padding: 15px 25px;
}

/* column right */
.popolar h3 {
  margin-top: 80px;
  font-size: 25px;
}

.popolar p {
  padding-right: 280px;
  margin: 25px 0 20px;
  line-height: 25px;
}

.popolar h4 {
  font-size: 18px;
  display: inline-block;
}

.popolar hr {
  display: inline-block;
  width: 400px;
  margin-left: 50px;
  margin-bottom: 5px;
}

.popolar ul {
  margin-top: 20px;
}

.popolar ul li {
  display: inline-block;
}

.popolar ul li a {
  color: black;
  font-size: 17px;
}

 #insight {
  margin-left: 0;
}

#deals, #task {
  margin-left: 15px;
}

.fa-check-circle {
  color: orange;
  margin-right: 10px;
}

/* sezione 3 */

.hub {
  background-color: #f5f8fa;
  padding-bottom: 50px;
}

/* column left */
.marketing {
  background-color: white;
  box-shadow: 0 0 11px #eaf0f6;
  margin-top: 20px;
}

.marketing img{
  height: 90px;
  margin-left: 140px;
  margin-top: 15px;
}

.marketing h3{
 text-align: center;
 margin-top: 20px;
 font-size: 25px;
}

.marketing p {
  text-align: center;
  line-height: 25px;
  padding: 10px 55px;
}

.marketing hr {
  margin: 50px 30px;
}

.marketing h4 {
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
}

.marketing ul {
  list-style-type: none;
  margin: 30px;
  margin-bottom: 50px;
}

.marketing a {
  margin-left: 125px;
  display: inline-block;
  margin-bottom: 15px;
}

/* sezione 4 */

.data {
  height: 500px;
  background-color: #39c4c4;
  margin-top: 15px;
}

.data h2 {
  text-align: center;
  color: white;
  font-size: 35px;
  padding: 25px;
}

.data p {
  color: white;
  font-size: 18px;
  padding-right: 10px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.line2 {
  border-top: 1px solid white;
}

/* sezione 5 */

.customers {
  /* debug */
  height: 130px;
  background-color: white;
}

/* sezione 6 */

.start {
  /* debug */
  height: 250px;
  background-color: white;
}


/* Footer */

footer {
  /* debug */
  height: 300px;
  background-color: green;
}
