/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding {
  padding: 0 5%;
}

/* column rules */

.column:after {
  content: "";
  display: table;
  clear: both;
}

.column20 {
  float: left;
  width: 20%;
  /* debug */
  height: 100px;
  background-color: orange;
  border: 1px solid black;
}

.column30 {
  float: left;
  width: 30%;
  /* debug */
  height: 100px;
  background-color: orange;
  border: 1px solid black;
}

#middle {
  margin: 0 5%;
}

.column50 {
  float: left;
  width: 50%;
  /* debug */
  height: 70px;
  background-color: yellow;
  border: 1px solid black;
}

.column80 {
  float: left;
  width: 80%;
  /* debug */
  height: 100px;
  background-color: orange;
  border: 1px solid black;
}

.column100 {
  float: left;
  width: 100%;
  /* debug */
  height: 100px;
  background-color: yellow;
}

/* Header */

header {
  min-height: 500px;
  /* debug */
  background-color: pink;
}

/*sezione 1 */

.nav-action {
  height:70px;
  background-color: gray;
  border-bottom: 1px solid black;
}

/* sezione 2 */

.logo-nav {
  height: 70px;
  background-color: white;
}

/* Main */

main {
  /* debug */
  min-height: 400px;
  background-color: blue;
}

/* sezione 2 */

.free {
  height: 100px;
  background-color: white;
  border: 1px solid gray;
}

/* sezione 3 */

.hub {
  margin-top: 15px;
}

/* sezione 4 */

.data {
  height: 500px;
  background-color: #39c4c4;
  margin-top: 15px;
}

/* sezione 5 */

.customers {
  /* debug */
  height: 130px;
  background-color: white;
}


/* Footer */

footer {
  /* debug */
  height: 300px;
  background-color: green;
}
