/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding {
  padding: 0 10%;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */

header {
  min-height: 500px;
  /* debug */
  background-color: pink;
}

.nav-action {
  height:70px;
  background-color: gray;
  border-bottom: 1px solid black;
}

.logo-nav {
  height: 70px;
  background-color: white;
}

/* Main */

main {
  /* debug */
  height: 400px;
  background-color: blue;
}

/* Footer */

footer {
  /* debug */
  height: 300px;
  background-color: green;
}
